<%- include('./partials/header') %>
<% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>
    <div class="w-full min-h-screen flex justify-center px-0 md:px-20 py-10 md:py-20 bg-gradient-to-br from-blue-50 to-blue-100">
        <div class="w-full min-h-screen flex flex-col gap-5 bg-white/80 rounded-2xl shadow-lg p-8">
         <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <% products.forEach(function(product){ %>
                <div class="w-full rounded-xl shadow-md overflow-hidden bg-white">
                    <div class="w-full h-52 flex flex-wrap gap-4 items-center justify-center bg-[<%= product.bgcolor %>]">
                        <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                    </div>
                    <div class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                        <div>
                            <h3><%= product.name %></h3>
                            <h4>₹ <%= product.price %></h4>
                        </div>
                        <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white shadow" href="/addtocart/<%= product._id %>">
                            <i class="ri-add-line"></i>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    </div>
    <%- include('./partials/footer') %>